<template>
   <!-- <div class="album py-5">
      <div class="container">
         <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3"> -->
            <div :v-for="movie in movies" :key="movie.id">
               <MovieComponent :movie="movie"></MovieComponent>
            </div>
         <!-- </div>
      </div>
   </div> -->
</template>

<script>
import MovieComponent from "../components/MovieComponent.vue";
export default {
   props: {
      movies: {}
   },
   components: { MovieComponent }
}
</script>

<style>
</style>