<template>
    <section class="container">
        <div class="container m-4" v-if="$auth.isAuthenticated">
            <p>Welcome {{ $auth.email }}!</p>
            <router-link to="/logout"><button type="button" class="btn btn-danger">Logout</button></router-link>
            <div class="movie-list">
                <div class="album py-5 container row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="movie" v-for="movie in movies" :key="movie.id">
                        <div class="col card shadow-sm">
                            <div class="card-body text-center">
                                <router-link :to="`/movie/${movie.id}`">
                                    <h3 class="card-title">{{ movie.title }}</h3>
                                    <img
                                        class="card-img-top"
                                        :src="`https://ferlix.herokuapp.com/${movie.image}`"
                                    />
                                </router-link>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div v-else>
            <nav class="navbar navbar-expand-lg navbar-default navbar-light">
            
            <div class="d-flex flex-row-center">
                <div class="collapse navbar-collapse" >
                <ul class="navbar-nav me-2 mb-2 mb-lg-0">
                    <router-link to="/login">
                        <li class="nav-item">
                            <button type="button" class="btn btn-outline-primary me-3">Login</button>
                        </li>
                    </router-link>
                </ul>
            </div>
            </div>
            </nav>
        </div>
    </section>
</template>

<script>
import MovieComponent from "../components/MovieComponent.vue";
import BillboardView from "./BillboardView.vue";
export default {
    created() {
        if (this.$auth.isAuthenticated) {
            this.fetchMovies();
        }
    },
    data() {
        return {
            movies: [],
        };
    },
    methods: {
        async fetchMovies() {
            const response = await fetch("https://ferlix.herokuapp.com/api/movies", { headers: { Authorization: `Bearer ${this.$auth.access_token}` } });
            this.movies = (await (response.json())).data;
            console.log(this.movies);
        },
    },
    components: { MovieComponent, BillboardView }
}
</script>

