<template>
    <div class="container">
        <div
            class="w-full m-4"
        >
            <form class="form">
                <label for="form-label">Email:</label>
                <input class="form-control m-2" v-model="email" placeholder="email" />
                <label for="form-label">Password:</label>
                <input
                    class="form-control m-2"
                    v-model="password"
                    type="password"
                    placeholder="password"
                />
                <button type="button" class="btn btn-primary m-2" @click="login">Login</button>
            </form>
        </div>
    </div>
</template>

<script>

export default {
    created() {
        this.$auth.$subscribe((mutation, state) => {
            if (state.isAuthenticated) {
                this.$router.push('/');
            }
        })
    },
    data() {
        return {
            email: 'admin@gmail.com', password: 'password'
            // email: '', password: ''
        }
    },
    methods: {
        login() {
            this.$auth.login(this.email, this.password);
        }
    }
}
</script>