<template>
    <div class="container mt-4">
        <div class="mb-4">
            <router-link to="/">
                <button type="button" class="btn btn-outline-primary">Home</button>
            </router-link>  
        </div>
        <div class="row">
            <div class="col-11">
                <div v-if="movie.episodio">
                    <h1>{{ movie.title }}. Episodio: {{ $movie.episodio }}</h1>
                </div>
                <div v-else>
                    <h1>{{ movie.title }}</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <video width="1280" height="720" controls>
                    <source :src="`https://ferlix.herokuapp.com${movie.file}`" type="video/mp4">Tu navegador no soporta este formato de video.
                </video>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col">
                <h2>Descripción</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p>{{ movie.synopsis }}</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
    created() {
        if (this.$auth.isAuthenticated) {
            this.fetchMovie();
        }
    },
    data() {
        return {
            movie: {},
        }
    },
    methods: {
        async fetchMovie() {
            const response = await fetch(`https://ferlix.herokuapp.com/api/movies/${this.$route.params.id}`, { headers: { Authorization: `Bearer ${this.$auth.access_token}` } });
            this.movie = (await (response.json())).data;
            console.log(this.movie);
        },
    },
}
</script>