<template>
   <div class="movie">
      <router-link :to="`/movie/${movie.id}`">
         <h3>{{ movie.title }}</h3>
         <img :src="`https://ferlix.herokuapp.com/${movie.image}`" />
      </router-link>
   </div>
</template>

<script>
export default {
   props: {
      movies: {}
   }
}
</script>

<style>
</style>